p {
    color: whitesmoke;
    font-style: italic; 
    font-size:  16px;
}
h2{
    color: whitesmoke;
}
.card-body{
    background-color: white;
}
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  
  .sidebar {
    height: 100%;
    width: 209px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.6);
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration:solid;
    font-size: 20px;
    color: black;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  #icons {
    color:black;
  
  }
  #faqs{
    margin-left: 300px;
  }
  button {
    font-size: 20px;
  }